*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width:100%;
    max-width: 2000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: flex;
    grid-template-columns: 1fr 2fr;
}
.container .left_side{
    position: relative;
    background: rgb(231, 140, 170);
    padding: 30px;
}
.container .right_side{
    position: relative;
    background:rgb(231, 140, 170);
    padding: 40px;
}
.imgbx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profiletext{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contactinfo ul {
    position: relative;
   
}

.contactinfo ul li{
    position: relative;
    margin: 10px;
    list-style: none;
}
.contactinfo ul li .icon{
    display: inline-block;
    width: 13px;
    font-size: 18px;
}


H2.def{
    
    border-width:100%;
    background-color:rgb(231, 140, 170) ;
    
}
H2.ghi{
    border-top-style:double;
    border-bottom-style:double;

}
.rht{
    position:relative;
    justify-content: start;
    align-items: center;
    left:30px;
    width:100%;
    font-size: 18;
}
.kkk{
   border:solid;
   border-width: 25px;
border-color: rgb(231, 140, 170);
}